<h1>Изменить поручение</h1>
<%= render "devise/shared/error_messages", resource: @article %>
<%=form_with model: @article, url:article_path(@article),method: :patch, local: true do |f|%>
	
	<%=f.label :title, "Заголовок"%>
	<p><%= f.text_field :title %></p>
	<%=f.label :text, "Текст"%>
	<p><%= f.text_area :text %></p>

	<p><%=f.submit "Обновить поручение"%></p>
	
<%end%>
<div><%=button_to "Показать все поручения", articles_path, method: :get, class: "btn btn-primary"%></div>
