<% content_for :title, "Articles" %>

<div class="container">
  <div class="row">
    <% @articles.each do |a| %>
      <div class="col-12 mb-4">
        <h4 class="display-6"><%= a.title %></h4>
        <p class="text-muted">



        <% if a.assigned_user_id.present? %>
          Поручено: <%= a.assigned_user&.username || "Неизвестному пользователю" %>
        <% else %>
          Поручено: <span class="text-warning">Не назначено</span>
        <% end %>
        | Статус:
  <%= t("activerecord.attributes.article.status.#{a.status}") %>
        </p>
        

        <p class="text-start text-truncate">
          <%= truncate(a.text, length: 140, separator: ' ') %>
        </p>

        <div class="d-flex gap-2">
          <%= link_to "Развернуть", article_path(a), class: "btn btn-outline-secondary btn-sm" %>

          <% if current_user.admin? %>
            <%= link_to "Изменить", edit_article_path(a), class: "btn btn-outline-secondary btn-sm" %>
            <%= button_to "Удалить", article_path(a), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-outline-secondary btn-sm" %>
          <% end %>
        </div>
        <hr>
      </div>
    <% end %>
  </div>
</div>

